/*
// Copyright (c) 2007 - 2010 blueprintcss.org
// Modified and extended by obmerk99 in 2014
// License: MIT-license
*/

/*
// Reset the default browser CSS
*/
html {
    margin: 0;
    padding: 0;
    border: 0;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
    display: block;
}

body {
    background-color: white;
    line-height: 1.5;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

table, th, td {
    vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

a img {
    border: none;
}

/*
// Default typography
*/
html {
    font-size: 100.01%;
}

body {
    background-color: white;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 75%;
    color: #222222;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #111111;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 3em;
    line-height: 1;
}

h2 {
    margin-bottom: 0.75em;
    font-size: 2em;
}

h3 {
    margin-bottom: 1em;
    font-size: 1.5em;
    line-height: 1;
}

h4 {
    margin-bottom: 1.25em;
    font-size: 1.2em;
    line-height: 1.25;
}

h5 {
    margin-bottom: 1.5em;
    font-size: 1em;
    font-weight: bold;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
    margin: 0;
}

/* Text elements */
p {
    margin: 0 0 1.5em;
}

.left {
    float: left !important;
}

p .left {
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}

.right {
    float: right !important;
}

p .right {
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0;
}

a:focus, a:hover {
    color: #0099FF;
}

a {
    color: #0066CC;
    text-decoration: underline;
}

blockquote {
    margin: 1.5em;
    font-style: italic;
    color: #666666;
}

strong, dfn {
    font-weight: bold;
}

em, dfn {
    font-style: italic;
}

sup, sub {
    line-height: 0;
}

abbr, acronym {
    border-bottom: 1px dotted #666666;
}

address {
    margin: 0 0 1.5em;
    font-style: italic;
}

del {
    color: #666666;
}

pre {
    margin: 1.5em 0;
    white-space: pre;
}

pre, code, tt {
    font: 1em "andale mono", "lucida console", monospace;
    line-height: 1.5;
	background-color:#DDDDDD;
}

/* Lists */
li ul, li ol {
    margin: 0;
}

ul, ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

dl {
    margin: 0 0 1.5em 0;
}

dl dt {
    font-weight: bold;
}

dd {
    margin-left: 1.5em;
}

/* Tables */
table {
    width: 100%;
    margin-bottom: 1.4em;
}

th {
    font-weight: bold;
}

table.zebra thead th, table.zebra tfoot th {
    background-color: #BFBFBF;
}

th, td, caption {
    padding: 4px 10px 4px 5px;
}

table.zebra tbody tr:nth-child(even) td, table.zebra tbody tr.even td {
    background-color: #E6E6E6;
}

caption {
    background-color: #EEEEEE;
}

/* Misc classes */
.fancy {
    text-shadow: white 0 1px 0;
}

.bfancy {
    text-shadow: black 0 1px 0;
}

.fancyt {
    text-shadow: white 0 -1px 0;
}

.bfancyt {
    text-shadow: black 0 -1px 0;
}

.no-fancy {
    text-shadow: none;
}

.select {
    cursor: auto;
    user-select: auto;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -o-user-select: auto;
}

img.select, .select img {
    user-drag: auto;
    -webkit-user-drag: auto;
    -moz-user-drag: auto;
    -o-user-drag: auto;
}

.no-select {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

img.no-select, .no-select img {
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.focus:focus, .focus :focus {
    outline: auto;
}

.no-focus:focus, .no-focus :focus {
    outline: 0;
}

.small {
    margin-bottom: 1.875em;
    font-size: .8em;
    line-height: 1.875em;
}

.large {
    margin-bottom: 1.25em;
    font-size: 1.2em;
    line-height: 2.5em;
}

.show {
    display: block !important;
}

.show-inline {
    display: inline-block !important;
}

.hide {
    display: none;
}

.quiet {
    color: #666666;
}

.loud {
    color: black;
}

.highlight {
    background-color: yellow;
}

.added {
    background-color: #006600;
    color: white;
}

.removed {
    background-color: #990000;
    color: white;
}

.first {
    margin-left: 0;
    padding-left: 0;
}

.last {
    margin-right: 0;
    padding-right: 0;
}

.top {
    margin-top: 0;
    padding-top: 0;
}

.bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

/*
// Default styling for forms
*/
fieldset {
    margin: 0 0 1.5em 0;
    padding: 0 1.4em 1.4em 1.4em;
    border: 1px solid #CCCCCC;
}

legend {
    margin-top: -0.2em;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

/* Form fields */
input[type=text], input[type=password], textarea {
    background-color: white;
    border: 1px solid #BBBBBB;
}

input[type=text], input[type=password],
textarea, select {
    margin: 0.5em 0;
}

input[type=text], input[type=password] {
    width: 300px;
    padding: 4px;
}

textarea {
    width: 450px;
    height: 170px;
    padding: 5px;
}

/* success, info, notice and error boxes */
.success, .info, .notice, .error {
    margin-bottom: 1em;
    padding: 0.8em;
    border: 2px solid #DDDDDD;
}

.success {
    background-color: #E6EFC2;
    border-color: #C6D880;
    color: #264409;
}

.info {
    background-color: #D5EDF8;
    border-color: #92CAE4;
    color: #205791;
}

.notice {
    background-color: #FFF6BF;
    border-color: #FFD324;
    color: #514721;
}

.error {
    background-color: #FBE3E4;
    border-color: #FBC2C4;
    color: #8A1F11;
}

.success a {
    color: #264409;
}

.info a {
    color: #205791;
}

.notice a {
    color: #514721;
}

.error a {
    color: #8A1F11;
}


.tab-content h2 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 26px;
    color: #707070;
    line-height: 1;
}

.setting.group {
    border-top: 1px solid #EEEEEE;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 2px;
}

.setting.group-name {
    width: 140px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    vertical-align: top;
}

.setting.bundle {
    max-width: 600px;
    margin-bottom: 5px;
}

.setting.bundle.list-box {
    margin-bottom: 10px;
}

.setting.label.radio-buttons + .setting.container.radio-buttons {
    margin-top: 3px;
}

.setting.label, .setting.element-label {
    margin-right: 15px;
    font-size: 13px;
    font-weight: normal;
}

.setting.label.checkbox, .setting.element-label {
    margin-left: 5px;
    margin-right: 0;
}

.setting.label.checkbox {
    position: relative;
    top: 1px;
}

.setting.element.slider {
    position: relative;
    width: 150px;
    top: 4px;
}

.setting.element.list-box {
    display: block;
    height: 100px;
    width: 100%;
}

.setting.display.slider {
    margin-left: 5px;
    color: #666666;
}

#nothing-found {
    display: none;
    margin-top: 10px;
    font-size: 18px;
    font-weight: lighter;
    color: #999999;
}

.fancy {
    text-shadow: #F5F5F5 0 1px 0;
}

#sidebar {
    position: absolute;
    background-color: #EDEDED;
    background-image: linear-gradient(top, #EDEDED, #F5F5F5);
    background-image: -webkit-gradient(
        linear,
        left top,
        left 500,
        color-stop(0, #EDEDED),
        color-stop(1, #F5F5F5)
    );
    background-image: -moz-linear-gradient(
        center top,
        #EDEDED 0%,
        #F5F5F5 100%
    );
    background-image: -o-linear-gradient(top, #EDEDED, #F5F5F5);
    width: 219px;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid #C2C2C2;
    box-shadow: inset -8px 0 30px -30px black;
}

#icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 12px;
    left: 12px;
}

#sidebar h1 {
    position: absolute;
    top: 13px;
    right: 25px;
    font-size: 26px;
    color: #707070;
}

#tab-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: right;
}

#tab-container .tab {
    height: 28px;
    padding-right: 25px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: 12px;
    line-height: 28px;
    color: #808080;
    cursor: pointer;
}

#search-container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 23px !important;
    cursor: default !important;
}

#info{
	display:block;
	float:left;
	margin: 10px;
	clear:both;
	text-align:left;
	line-height:10px;
	font-size:10px;
}


#search-container input {
    width: 130px;
}

#tab-container .tab.active, body.searching #search-container {
    background-color: #D4D4D4;
    border-color: #BFBFBF;
    color: black;
    text-shadow: #DBDBDB 0 1px 0;
    box-shadow: inset -12px 0 30px -30px black;
}

body.searching #tab-container .tab.active {
    background-color: transparent;
    border-color: transparent;
    color: #808080;
    text-shadow: inherit;
    box-shadow: none;
}

#content {
    position: absolute;
    top: 0;
    left: 220px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.tab-content {
    display: none;
    position: absolute;
    width: 840px;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    padding-top: 15px;
}

body.searching .tab-content {
    display: none !important;
}

body.searching #search-result-container {
    display: block !important;
}

body.measuring .tab-content, body.measuring #search-result-container {
    display: block !important;
    opacity: 0;
    overflow: hidden;
}
#save {
float:right;
   margin:8px 0;
   text-align:right;
   padding-right:20px;
}

.submit-button {
   border: 1px solid #154273;
   background: #3667a3;
   background: -webkit-gradient(linear, left top, left bottom, from(#5a8bbf), to(#3667a3));
   background: -webkit-linear-gradient(top, #5a8bbf, #3667a3);
   background: -moz-linear-gradient(top, #5a8bbf, #3667a3);
   background: -ms-linear-gradient(top, #5a8bbf, #3667a3);
   background: -o-linear-gradient(top, #5a8bbf, #3667a3);
   background-image: -ms-linear-gradient(top, #5a8bbf 0%, #3667a3 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7fb3db 0 1px 0;
   color: #091b40;
   font-family: helvetica, serif;
   padding: 6.5px 9px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #154d73;
   text-shadow: #0c1e52 0 1px 0;
   background: #3674a3;
   background: -webkit-gradient(linear, left top, left bottom, from(#5a90bf), to(#3674a3));
   background: -webkit-linear-gradient(top, #5a90bf, #3674a3);
   background: -moz-linear-gradient(top, #5a90bf, #3674a3);
   background: -ms-linear-gradient(top, #5a90bf, #3674a3);
   background: -o-linear-gradient(top, #5a90bf, #3674a3);
   background-image: -ms-linear-gradient(top, #5a90bf 0%, #3674a3 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #535452 0 1px 0;
   border: 1px solid #6a6b69;
   background: #bababa;
   background: -webkit-gradient(linear, left top, left bottom, from(#989e93), to(#3674a3));
   background: -webkit-linear-gradient(top, #989e93, #bababa);
   background: -moz-linear-gradient(top, #989e93, #bababa);
   background: -ms-linear-gradient(top, #989e93, #bababa);
   background: -o-linear-gradient(top, #989e93, #bababa);
   background-image: -ms-linear-gradient(top, #989e93 0%, #bababa 100%);
   color: #fff;
   }